body
{
   background-color: #FFFFFF;
   background-image: url('images/fon.jpg');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: no-repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Button1
{
   line-height: 23px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #87CEFA;
   border-radius: 4px;
   background-color: #87CEFA;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3
{
   line-height: 23px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #FF6347;
   border-radius: 4px;
   background-color: #FF6347;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4
{
   line-height: 23px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #87CEFA;
   border-radius: 4px;
   background-color: #87CEFA;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#MediaPlayer2
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FF4500;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FF4500;
}
#IconFont1
{
   height: 31px;
   width: 61px;
}
#IconFont1 i
{
   color: #FF4500;
   display: inline-block;
   font-size: 31px;
   line-height: 31px;
   vertical-align: middle;
   width: 27px;
}
#wb_IconFont1:hover i
{
   color: #FF4500;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont2
{
   height: 27px;
   width: 54px;
}
#IconFont2 i
{
   color: #00FEFE;
   display: inline-block;
   font-size: 27px;
   line-height: 27px;
   vertical-align: middle;
   width: 26px;
}
#wb_IconFont2:hover i
{
   color: #00FEFE;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
   -webkit-animation: side-fall 1500ms linear 0ms 1 normal both;
   animation: side-fall 1500ms linear 0ms 1 normal both;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Card1
{
   background-color: #D3D3D3;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card1-card-body
{
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #0000FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card1-card-item3
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card2
{
   background-color: #DCDCDC;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card2-card-body
{
   font-size: 0px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #0000FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card2-card-item3
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card3
{
   background-color: #DCDCDC;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card3-card-body
{
   font-size: 0px;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #0000FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card3-card-item3
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card4
{
   background-color: #FF0000;
   background-image: none;
   border: 1px solid #FF0000;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card4-card-body
{
   font-size: 0px;
}
#Card4-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #00FFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card4-card-item3
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card5
{
   background-color: #DCDCDC;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card5-card-body
{
   font-size: 0px;
}
#Card5-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #0000CD;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card5-card-item3
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card6
{
   background-color: #DCDCDC;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card6-card-body
{
   font-size: 0px;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card6-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #0000FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card6-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card6-card-item3
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#SlideMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#SlideMenu1 li a
{
   background-color: #87CEFA;
   border-color: #2E6DA4;
   border-style: solid;
   border-width: 1px;
   color: #FFFFFF;
   cursor: pointer;
   display: block;
   left: 0;
   font-weight: normal;
   font-style: normal;
   height: 16px;
   margin: 0;
   padding: 2px 2px 2px 5px;
   position: relative;
   top: 0;
   text-decoration: none;
   text-align: left;
}
#SlideMenu1 li a:hover
{
   background-color: #286090;
   border-color: #204D74;
   color: #FFFFFF;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#SlideMenu1 li li a
{
   background-color: #FFFFFF;
   border-color: #CCCCCC;
   border-style: solid;
   border-width: 1px;
   color: #333333;
   display: block;
   font-weight: normal;
   font-style: normal;
   height: 16px;
   margin: 1px 0px 1px 0px;
   padding: 2px 2px 2px 5px;
   text-decoration: none;
}
#SlideMenu1 li li a:hover
{
   background-color: #D4D4D4;
   border-color: #8C8C8C;
   color: #333333;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#OverlayMenu1
{
   background-color: #8B008B;
   background-image: none;
   border: 0px solid #87CEFA;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: #8B008B;
   background-image: none;
   border-color: #87CEFA;
}
#OverlayMenu1
{
   display: block;
   width: 133px;
   height: 100px;
   position: absolute;
}
#OverlayMenu1 .line
{
   width: 32px;
   height: 6px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
}
#OverlayMenu1:hover .line
{
   background: #424242;
}
#OverlayMenu1 .line:first-child
{
   margin-top: 34px;
}
#OverlayMenu1-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu1-close:before, #OverlayMenu1-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu1-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
#OverlayMenu1-close span:after
{
   background: #FFFFFF;
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);
}
#OverlayMenu1-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(139,0,139,0.87);
}
#OverlayMenu1-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   height: 60%;
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li 
{
   position: relative;
}
.OverlayMenu1 li a 
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu1-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#OverlayMenu1-overlay.show
{
   visibility: visible;
   width: 100%;
   -webkit-transition: width 400ms;
   transition: width 400ms;
}
#OverlayMenu1-overlay .OverlayMenu1
{
   opacity: 0;
   -webkit-transition: opacity 0.3s 400ms;
   transition: opacity 0.3s 400ms;
}
#OverlayMenu1-overlay.show .OverlayMenu1
{
   opacity: 1;
   -webkit-transition-delay: 400ms;
   transition-delay: 400ms;
}
#OverlayMenu1-overlay.hide .OverlayMenu1
{
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0px 10px 0px 0px;
}
#OverlayMenu1-social
{
   padding: 40px 0px 0px 0px;
}
#OverlayMenu1-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #8B008B;
   display: inline-block;
   font-size: 19px;
   margin: 0 .5em;
   padding: 7px;
   -webkit-transition: all .2s linear 0s;
   transition: all .2s linear 0s;
   width: 19px;
}
#OverlayMenu1-social .social-icon:hover 
{
   background-color: #424242;
   color: #CCCCCC;
}
.OverlayMenu1-effect
{
   -webkit-transition: all 500ms linear;
   transition: all 500ms linear;
}
